@using PresentationLayer.VMs.Category

@{
    List<CategoryVM> categories = ViewBag.Categories as List<CategoryVM> ?? new();
}

<h1>Products</h1>

<div class="row">
    <div class="col-12 d-flex justify-content-end">
        <a asp-action="Create" asp-controller="Product" class="btn btn-dark m-1">Create New Product</a>
        <a asp-action="Index" asp-controller="Home" class="btn btn-dark m-1">Back To Home</a>
    </div>
</div>

<partial name="_NotificationPartial">

<main class="Content">
    <button class="btn btn-outline-primary categoryBtn" data-categoryId="@null">All</button>
    @foreach (var category in categories)
    {
        <button class='btn btn-outline-primary categoryBtn' data-categoryId="@category.CategoryId">@category.Name</button>
    }


    <table id="productTable" class="table table-bordered table-striped" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th></th>

            </tr>
        </thead>

        <tbody>


        </tbody>

    </table>


</main>

@section Scripts {

    <script src="/js/productDataTable.js"></script>
}