@using BusinessLogicLayer.DTOs.CategoryDTOs
@using PresentationLayer.ActionRequests
@model UpdateProductActionRequest

@{
    ViewData["Title"] = "Product";
}

<div class="container mt-4">
    <h2>Update Product</h2>

    <partial name="_NotificationPartial">

    <form asp-controller="Product" asp-action="Update" asp-route-id="@Model.Id" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Product Name</label>
            <input asp-for="Name" class="form-control" >
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>


            <div class="mb-3">
                <label asp-for="Description" class="form-label">Description</label>
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

        <div class="mb-3">
            <label asp-for="Price" class="form-label">Price</label>
            <input asp-for="Price" class="form-control" step="0.01" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="StockQuantity" class="form-label">Stock Quantity</label>
            <input asp-for="StockQuantity" class="form-control" >
            <span asp-validation-for="StockQuantity" class="text-danger"></span>
        </div>

        <div class="mb-3">

            <select asp-for="CategoryId" asp-items="@Model.CategoryList" class="form-select">
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>

        <div class="mb-3">

            <div class="card" style="width: 18rem;">
                <img src="/Images/@Model.ImageUrl" class="card-img-top" alt="Product Image">
            </div>

            <input type="hidden" asp-for="ImageUrl" />

            <label asp-for="Image" class="form-label">Image URL</label>
            <input asp-for="Image" type="file" class="form-control">
            <span asp-validation-for="Image" class="text-danger"></span>

        </div>

        <button type="submit" class="btn btn-primary">Update Product</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
