@using PresentationLayer.VMs.Category
@model IEnumerable<CategoryVM>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Categories
    </a>
    <ul class="dropdown-menu">
        
        @foreach (var category in Model)
        {
            <li><button class="dropdown-item" data-id="@category.CategoryId">@category.Name</button></li>
        }
    </ul>
</li>