@using PresentationLayer.VMs.Category
@model IEnumerable<CategoryVM> 

<partial name="_NotificationPartial" />

<h1>Categories</h1>

<a asp-action="Create" asp-controller="Category" class="btn btn-dark">Create Category</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Category Name
            </th>

            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach(var category in Model)
        {
            <tr>
                <td>
                    @category.Name
                </td>
                <td>
                    <a asp-action="Delete" asp-controller="Category" asp-route-id="@category.CategoryId">Delete</a>
                </td>
                <td>
                    <a asp-action="Update" asp-controller="Category" asp-route-id="@category.CategoryId">Edit</a>
                </td>
            </tr>
        }

    </tbody>
</table>
