@using PresentationLayer.VMs.Category
@model CategoryVM

@{
    ViewData["Title"] = "Edit Category";
}

<h1>Edit Category</h1>

<form asp-controller="Category" asp-action="Update" asp-route-id="@Model.CategoryId" method="post">
    <label asp-for="Name" class="form-label">Category Name</label>
    <input asp-for="Name" class="form-control"></input>
    <span asp-validation-for="Name" class="text-danger"></span>

    <button type="submit" class="btn btn-primary">Update</button>
</form>

