@using PresentationLayer.VMs.Products
@model IEnumerable<ProductVM>

@{
    ViewData["Title"] = "Home";
}

<main id="Container">
    <partial name="_ProductsListPartialView" model="@Model" />
</main>

@section Scripts
{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            
            var dropDownItems = document.querySelectorAll('.dropdown-item');

            dropDownItems.forEach(btn => {

                btn.addEventListener('click', async function(){

                var categoryId = btn.getAttribute('data-id');

                try{
                    var response = await fetch(`/Home/ProductsByCategory?categoryId=${categoryId}`,{
                        method:'GET'
                    });

                    if(!response.ok){
                        alert('Something went wrong');

                    }
                    else{
                        var content = await response.text();
                        var container = document.getElementById('Container');
                        container.innerHTML = content;
                    }

                }
                catch(error){
                    console.error(error);
                }
            });
            
            });



        });
    </script>
}